html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    background: linear-gradient(to bottom, rgba(20, 20, 20, 1), transparent);
    height: 175px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 45px;
    box-sizing: border-box;

    &_main {
        z-index: 2;
    }

    &_profile {
        background: linear-gradient(to bottom, rgba(20, 20, 20, 1), transparent), url("../img/layer2.png") no-repeat center;
        background-size: cover;
        height: 252px;
        display: flex;
        justify-content: flex-end;
        padding-top: 45px;
        box-sizing: border-box;
    }

    &_authorization {
        padding-top: 42px;
        justify-content: center;
    }
}

.content {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;

    &_profile {
        min-height: calc(100vh - 252px);
        width: 776px;
        margin: 0 auto;
        padding-top: 75px;
        box-sizing: border-box;
    }

    &_not-found,
    &_authorization {
        background: fixed #303030 url("../img/body-background.png") no-repeat center;
        background-size: cover;
    }

    &_main {
        background: fixed url("../img/light-background.png") no-repeat center;
        background-size: cover;
        flex-direction: row;

        &::after {
            position: absolute;
            z-index: 1;
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.75);
        }
    }

    &__not-found {
        &_title {
            font-family: "Work Sans", sans-serif;
            font-size: 382px;
            font-weight: 900;
            line-height: 0;
        }

        &_error-message {
            color: #fff;
            font-family: Roboto;
            font-size: 30px;
            font-weight: 400;
            text-align: center;
            transform: translateY(70px);
        }
    }

    &__button {
        &_back-to-homepage {
            align-items: center;
            border: none;
            color: #fff;
            cursor: pointer;
            display: flex;
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
            padding: 0;
            text-transform: uppercase;
            transform: translateY(-60px);

            &-arrow {
                background: #d7af54 url("../img/arrow.png") no-repeat center;
                display: block;
                height: 45px;
                width: 45px;
            }

            &-title {
                align-items: center;
                background-color: #202020;
                display: flex;
                font-weight: bold;
                height: 45px;
                justify-content: center;
                width: 296px;
            }
        }
    }
}

.authorization {
    &-form {
        background-color: #fff;
        box-shadow: 0 15px 29.76px 2.24px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 356px;
        padding: 0 57px;
        position: relative;
        width: 433px;

        &__title {
            color: #d7af54;
            font-family: Roboto;
            font-size: 22px;
            font-weight: bold;
            margin: 25px 0 30px;
            text-transform: uppercase;

            &::before {
                background-image: url("../img/arrow-down.png");
                content: "";
                display: block;
                height: 8px;
                left: 34px;
                position: absolute;
                top: 32px;
                width: 12px;
            }
        }

        &__input {
            background-color: rgba(219, 219, 219, 0.7);
            background-position: 6px 6px;
            background-repeat: no-repeat;
            border: none;
            box-sizing: border-box;
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
            height: 41px;
            margin-bottom: 11px;
            padding-left: 40px;
            text-align: left;
            width: 320px;

            &::placeholder {
                color: #a59f9f;
            }

            &_login {
                background-image: url("../img/login-icon.png");
            }

            &_password {
                background-image: url("../img/key-icon.png");
            }

            &_verification {
                align-self: flex-start;
                background-image: url("../img/verification-icon.png");
                width: 189px;
            }
        }

        &__optional {
            width: 320px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: Roboto;
            color: #7a7977;
            font-size: 14px;
            font-weight: 400;
            text-align: left;
            margin: 7px 0 18px;

            label {
                cursor: pointer;
            }
        }

        &__remember-me {
            display: none;

            &-label {
                padding-left: 18px;
                position: relative;
                user-select: none;

                &::before {
                    background-color: rgba(29, 29, 29, 0);
                    border-color: #a19d9d;
                    border-style: solid;
                    border-width: 1px;
                    box-sizing: border-box;
                    content: "";
                    display: block;
                    height: 14px;
                    margin-left: -18px;
                    position: absolute;
                    width: 14px;
                }
            }

            &:checked + &-label::before {
                background-image: url("../img/check.svg");
            }
        }

        &__forgot-password {
            display: flex;
            align-items: center;
            font-family: Roboto;
            color: #7a7977;
            font-size: 14px;
            font-weight: 400;

            &::before {
                display: block;
                content: "";
                width: 6px;
                height: 7px;
                background-image: url("../img/sign-arrow.png");
                margin-right: 4px;
            }
        }

        &__button {
            &_submit {
                align-items: center;
                background-color: #fff;
                border-color: #d7af54;
                border-style: solid;
                border-width: 3px;
                box-sizing: border-box;
                color: #525151;
                cursor: pointer;
                display: flex;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 500;
                height: 44px;
                justify-content: center;
                text-align: left;
                width: 320px;

                &-icon {
                    background-image: url("../img/accept.png");
                    display: block;
                    height: 14px;
                    margin-right: 12px;
                    width: 18px;
                }
            }
        }
    }

    &__logo-list {
        width: 1100px;
        display: flex;
        justify-content: space-around;

        a:last-child {
            transform: translateY(-20px);
        }
    }
}

.profile {
    &__title {
        position: relative;
        font-family: Roboto;
        color: #d7af54;
        font-size: 22px;
        font-weight: 900;
        margin: 0 0 32px 20px;
        text-transform: uppercase;

        &::before {
            background-image: url("../img/arrow-down.png");
            content: "";
            display: block;
            height: 8px;
            position: absolute;
            top: 8px;
            left: -20px;
            width: 12px;
        }
    }

    &__user {
        margin-left: 21px;
        display: flex;
        align-items: center;

        &-action {
            display: flex;
            margin-top: 14px;

            a {
                font-family: Roboto;
                color: #7e7e7e;
                font-size: 18px;
                font-weight: 400;
                text-decoration: underline;
            }

            &_edit,
            &_contact {
                display: flex;
                align-items: center;
                margin-right: 30px;

                &-icon {
                    display: block;
                    background-image: url("../img/edit-icon.png");
                    width: 22px;
                    height: 23px;
                    margin-right: 10px;
                }
            }

            &_contact-icon {
                display: block;
                background-image: url("../img/contact-icon.png");
                width: 22px;
                height: 23px;
                margin-right: 10px;
            }
        }

        &-photo {
            margin-right: 16px;
            margin-bottom: 0;
            width: 48px;
            height: 48px;
        }

        &-name {
            font-family: Roboto;
            color: #2f2f2f;
            font-size: 26px;
            font-weight: 400;
        }

        &-data {
            color: #464646;
            display: flex;
            flex-direction: column;
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
            margin-left: 84px;
            text-align: left;

            &-title {
                font-family: Roboto;
                color: #d7af54;
                font-size: 18px;
                font-weight: 400;
            }
        }

        &-phone,
        &-mail,
        &-language {
            display: flex;
            align-items: center;
            margin: 14px 0;
        }

        &-phone-icon {
            background-image: url("../img/phone-icon.png");
            width: 19px;
            margin: 0 15px 0 2px;
            height: 28px;
        }

        &-mail-icon {
            background-image: url("../img/mail-icon.png");
            width: 23px;
            height: 16px;
            margin: 0 13px 0 0;
        }

        &-language {
            &-icon {
                background-image: url("../img/lang-icon.png");
                width: 24px;
                height: 24px;
                margin: 0 12px 0 0;
            }

            &-form {
                display: flex;
            }

            &-radio {
                display: none;

                & + label {
                    background-color: #d0d0d0;
                    box-sizing: border-box;
                    color: #737373;
                    cursor: pointer;
                    display: block;
                    font-family: Roboto;
                    font-size: 16px;
                    height: 23px;
                    padding-top: 2px;
                    text-align: center;
                    text-decoration: underline;
                    width: 33px;
                }

                &:checked + label {
                    background-color: #d7af54;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

.navigation {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: Roboto;
    color: #acacac;
    font-size: 14px;
    font-weight: 400;

    &__link {
        display: flex;
        align-items: center;
        position: relative;
        color: #acacac;
        text-transform: uppercase;
        text-decoration: none;
        height: 29px;
        padding: 0 10px 0 25px;

        &:hover,
        &_active {
            background-color: #fff;
            box-shadow: 0 3px 14.88px 1.12px rgba(0, 0, 0, 0.2);
            color: #151515;

            &::before {
                background-image: url("../img/arrow-right-orange-bold.png");
            }
        }

        &::before {
            position: absolute;
            display: block;
            content: "";
            width: 6px;
            height: 7px;
            background-image: url("../img/sign-arrow.png");
            top: 11px;
            left: 10px;
        }
    }
}

.search {
    margin: 0 15px 0 40px;

    &__form {
        display: flex;
    }

    &__input {
        background-color: #9e9e9e;
        border: none;
        position: relative;
        width: 152px;
        height: 23px;
        padding-left: 5px;
        box-sizing: border-box;
    }

    &__button {
        height: 23px;
        width: 22px;
        border: none;
        background: #9e9e9e url("../img/search-icon.png") no-repeat right;
    }
}

.control {
    display: flex;
    height: 29px;
    align-items: center;
    color: #fff;
    margin-right: 40px;

    &_authorization {
        position: absolute;
        right: 35px;
    }

    &__language {
        color: #fff;
        border: none;
        background-color: #4f4f4f;
        width: 53px;
        height: 23px;
    }

    &__user {
        height: 23px;
        display: flex;
        align-items: center;

        &-icon {
            background-color: #9e9e9e;
            display: block;
            background-image: url("../img/user-icon.png");
            width: 22px;
            height: 23px;
            margin: 0 10px 0 15px;
        }

        &-name {
            font-family: Roboto;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
        }
    }
}

.card {
    height: 453px;
    position: relative;
    width: 377px;
    z-index: 2;

    &_left {
        box-shadow: 0 15px 29.76px 2.24px rgba(0, 0, 0, 0.2);
        background-color: #dcdbd5;
        color: #707070;
    }

    &_middle {
        background-color: #6f1c1c;
        color: #e3cece;
    }

    &_right {
        background-color: #d7af54;
        color: #2d2d2d;
    }

    &__poster {
        height: 236px;
        width: 100%;
    }

    &__text {
        box-sizing: border-box;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        margin: 0;
        padding: 25px 30px 30px;
    }

    &__learn-more {
        display: block;
        position: relative;
        font-family: Roboto;
        color: #999;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        padding-left: 40px;

        &::before {
            display: block;
            position: absolute;
            content: "";
            width: 6px;
            height: 7px;
            top: 4px;
            margin-left: -10px;
        }

        &_left {
            &::before {
                background-image: url("../img/arrow-light.png");
            }
        }

        &_middle {
            color: #420707;

            &::before {
                background-image: url("../img/arrow-red.png");
            }
        }

        &_right {
            color: #876e35;

            &::before {
                background-image: url("../img/arrow-yellow.png");
            }
        }
    }

    &__logo {
        &_left {
            position: absolute;
            width: 242px;
            height: 37px;
            top: 37px;
            left: 31px;
            background-image: url("../img/logo-associates.png");
        }

        &_middle {
            position: absolute;
            width: 248px;
            height: 39px;
            top: 37px;
            left: 29px;
            background-image: url("../img/logo-wierderkehr.png");
        }

        &_right {
            position: absolute;
            width: 235px;
            height: 83px;
            top: 12px;
            left: 30px;
            background-image: url("../img/logo-concord.png");
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    margin-top: -47px;
    position: relative;
    z-index: 1;

    &__copyright {
        font-family: Roboto;
        color: #737373;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0 10px 0 52px;
    }

    &__twitter {
        display: block;
        background-image: url("../img/twitter-icon.png");
        width: 27px;
        height: 27px;
    }
}
